@import "../../assets/palette";

.container__modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s, visibility 0.5s, transform 0.5s;
  z-index: 1000;
  &.active {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .container__modal__content {
    width: 40%;
    height: 60%;
    position: relative;
    background-color:$text-color-bg;
    color: $text-color;
    overflow-y: scroll;
    overscroll-behavior-y: auto;
    
    & > button{
      &:hover{
        cursor: pointer;
      }
    }

    .container__modal__close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
    }
  }

  .container__modal__body {
    margin-top: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif; 
    
    

    .container__image {
      height: 300px;
      width: 300px;
    }

    .container__link {
      text-decoration: none;
      color: $text-color-bg;
      background-color: $text-color;
      padding: 2px 10px;

   
    }
  }

  @media only screen and (max-width: 768px) {
    .container__modal__content {
      width: 60%;
      height: 60%;
    }
  }

  @media only screen and (max-width: 480px) {
    .container__modal__content {
      width: 80%;
      height: 60%;
    }
  }
}
