@import "./assets/palette";

:root{
   
    //background-color: $background-color;
    background-color:#140E1D;
    color: $text-color-bg;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;

       
}