@import "../../assets/palette";

.container__cards__flex {
  display: flex;
  flex-direction: row;
  border: 1px solid $text-color-bg;
  border-radius: 10px;
  text-align: center;
  background-color: $text-color-bg;
  color: $text-color;
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;;
  border: 1px solid $text-color;
  margin: 25px;
  
}

.container__cards__flex:hover {
  box-shadow: 0 0 20px rgb(11, 10, 10);
  transform: scale(1.02);
}

img {
  height: 100%;
  width: 120px;
  //border-radius: 6px;
  border-right: 1px solid $text-color;
  margin-right: 10px;
}

.container__text__align {
  text-align: left;
}